# Introduction to Python

In [ ]:
# In Line Comment (Nothing will execute)
"""
  Block Comment (Nothign will execute)
  ask;jdkj;aflsjkdf
  akfjl;dksfjas;fasf;aklsjd

  asdfnka;sdklfn;laskfj;a
  sdfkl;asjdlkfjas;dfja;ls
"""

'\n  Block Comment (Nothign will execute)\n  ask;jdkj;aflsjkdf\n  akfjl;dksfjas;fasf;aklsjd\n\n  asdfnka;sdklfn;laskfj;a\n  sdfkl;asjdlkfjas;dfja;ls\n'

In [ ]:
# Variables
x = 5
y = "Hello"
z = 3.14

print(x, y, z)

5 Hello 3.14

In [ ]:
# Data Types
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Operators
# (number as binary: https://byjus.com/maths/decimal-to-binary/)
x = 5    # binary = 0101
y = 10   # binary = 1010

# the arithmetic (+, -, x, /) operator
result = x + y
print(result)

# the comparison operator ( <, >, <=, >=)
result = x < y
print(result)

# the logical operator (and (&), or (|), not (!))
result = x & y      # same as (0 & 1), (1 & 0), (0 & 1), (1 & 0) => 0000 => 0
print(result)

result = x | y      # same as (0 | 1), (1 | 0), (0 | 1), (1 | 0) => 1111 => 15
print(result)

# the assignment operator
x *= 2
print(x)

15
True
0
15
10

In [ ]:
# TODO: write binary lesson
x = 5    # binary = 0101
y = 10   # binary = 1010

# Memership Operator
my_list = [1,2,3,4,5]
print(x in my_list)
print(y in my_list)
print(y not in my_list)

# Identity Operator
print(x is y)
print(x is not y)

True
False
True
False
True

In [ ]:
# Conditional Statements
## if else statement
x = -5
if x > 0:
    y = 2 * x
    print("x is positive")
    print("y", y)
else:
    print("x is not positive")

# elif (short for else if) can be use to check multiple condition

x = 0
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is not positive
x is zero

In [ ]:
# Loops

# For loops
numbers = [1, 2, 3, 4, 5] 	# loop items
for number in numbers:  	  # looping iterator
    print(number)           # operation
print("######################################")

# Special range() function to create a list of loop items
x = 5
for i in range(0, 6):
  x *= 2
  if x == 10: break

print(x)

1
2
3
4
5
######################################
10

In [ ]:
# # While Loop
# x = 0                           #iterator variable
# while x < 5:                    #condition
#     print(x)     	              #operation
#     x += 1                   	  #incrementation


# While Loop
x = 0                          #iterator variable
while True:                    #condition
    x+=1
    print(x)     	             #operation
    if x == 5:
      break

1
2
3
4
5

In [ ]:
# Function
x = 5    # binary = 0101
y = 10   # binary = 1010

def add(x, y):
    result = x + y
    return result
result = add(x, y)
print(result)

In [ ]:
# Classes and Objects

class Person():
  def __init__(self, name, age):      	#class constructor
    self.name = name                    #class attribute variable
    self.age = age                      #class attribute variable

  def say_hello(self):                             #class function
   	print("Hello, my name is " + self.name)        #function operation

# Instantiate a class to create an object named person1
person1 = Person("John", 30)
print(person1.name) # Output: John

In [ ]:
# Package and Libraries -- installation
!pip install tqdm

In [ ]:
# two methods to import library
## method 1 - from (library) import (package)
from tqdm.notebook import tqdm

## method 2 - import (library name) as (short alias)
import numpy as np

test_array = np.array([1,2,3,4])
test_array


# tqdm add progression bar to loop
# For loops
numbers = [1, 2, 3, 4, 5] 	      # loop items
for number in tqdm(numbers):  	  # looping iterator
    print(number)                 # operation

# Assignment - Build a Calculator

> Add blockquote